# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!.github/**
!.vscode/*
!.claude/**
!.goreleaser.yaml
!cmd/**
!docs/*
!examples/**
!poltergeist/**
!pkg/**
!rules/*
!rules
!scripts/**

!*.go
!go.sum
!go.mod

!README.md
!RULES.md
!LICENSE
!NOTICE
!Makefile
!CLAUDE.md
!AGENTS.md

# ...even if they are in subdirectories
!*/
